*{
    margin: 0;
    padding: 0;
} 

body{
    background: green;
}

/*header nero*/
header{
    color: white;
    background-color: black;
    position: relative;
    height:100px;
}

/*titolo header bianco e centrato*/
#title{
    color: white;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*barra di navigazione grigia*/
nav{
    background-color: grey;
    text-align: center;
}

/*link di navigazione*/
#link-list li{
    list-style: none;
    color: white;
    display: inline-block;   
}

/*imposto la sezione principale*/
#body-content{
    height: 700px;
    position: relative;
}

/* barra degli rss bianca a sinistra*/
#rss-column{
    background-color: white;
    float:left;
    width:25%;
    height: 300px;
}

/* colonna dell'articolo*/
#article-column{
    background-color: aqua;
    float: left;
    width: 50%;
    height: 400px;
}